#page {
width: 1000px;
height: 500px;
border-style: solid;
border-width: 1px;
border-color: #333333;
}

#btn {
}
#time {}
#timeline {}

.hexagon {
/*hexagon code borrowed without permission from https://stackoverflow.com/questions/14354087/single-div-horizontal-css-hexagon-button by Fabrizio Calderan*/
  position: relative;
  width: 124px;
  height: 100px;
  background: #626262;
  margin:0 124px 20 0;
}

.hexagon:after,
.hexagon:before {
  position: absolute;
  content: "";
  z-index: 1;
  top: 0;  
  width: 0px;
  background: #fff;
  border-top: 50px transparent solid; 
  border-bottom: 50px transparent solid;
}

.hexagon:before {
    left: 0;
    border-right: 30px #626262 solid; 
}
.hexagon:after {
    right: 0;
    border-left: 30px #626262 solid; 
}

.statsbox {
	position:relative;
	width:300px;
	border:#333333;
	margin-left: auto;
	margin-right: auto;
}

